In [1]:
import src

In [25]:
url = f'https://www.bde.es/app/sif/documentosAsociaciones/periodos/202309/6602/6602_202309.xls'
output = src.pnl_all(url)
output

,Importe en euros,BBVA,Santander,CaixaBank,Sabadell,Bankinter
0,MARGEN DE INTERESES,17843,32139,7364,3512,1639
1,Comisiones Netas,4594,9222,2741,1047,459
2,Resultados de operaciones financieras,1430,1969,215,64,43
3,Ingresos por Dividendos,75,474,145,7,14
4,Resultado de entidades valoradas por el métod...,20,462,246,88,25
5,Otros resultados de explotación,-1859,-1395,-21,-270,-175
6,MARGEN BRUTO,22104,42872,10689,4448,2005
7,Gastos de Explotación,-9241,-18961,-4374,-2231,-700
8,- Gastos de Personal,-4837,-10080,-2641,-1093,-390
9,- Otros Gastos de Administración,-3350,-6476,-1159,-745,-248
10,- Amotización,-1054,-2405,-575,-393,-62
11,MARGEN NETO,12863,23911,6315,2217,1305
12,Deterioro de activos financieros no valorados...,-3203,-9477,-706,-630,-226
13,Provisiones o reversión de provisiones,-210,-1989,-227,-4,-64
14,Otros Resultados,37,93,-88,-78,-11
15,RESULTADOS ANTES DE IMPUESTOS,9487,12538,5294,1504,1004
16,Impuestos sobre Beneficio,-3204,-3552,-1635,-475,-319
17,RESULTADO DEL EJERCICIO,6283,8985,3661,1029,685
18,Minoritarios,-322,-842,-2,-1,0
19,RESULTADO ATRIBUIDO,5961,8143,3659,1028,685

In [30]:
import pandas as pd

# Obtener una lista de todas las columnas excepto la que se desea excluir
columns_to_keep = [col for col in output.columns if col != 'Importe en euros']
ratio_row = abs(output.iloc[7][columns_to_keep] / output.iloc[6][columns_to_keep])

# Inserta el valor "Ratio" en la columna 'A'
ratio_row['Importe en euros'] = 'Ratio de Eficiencia'

# Agrega la fila "Ratio" al final del DataFrame
output2 = output.append(ratio_row, ignore_index=True)
output2 = output2[output2['Importe en euros'] == 'Ratio de Eficiencia']

# Muestra el DataFrame resultante
output2[columns_to_keep] = output2[columns_to_keep].round(3)*100
output2

C:\Users\E056118\AppData\Local\Temp\ipykernel_13976\2907578308.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  output2 = output.append(ratio_row, ignore_index=True)

       Importe en euros  BBVA  Santander  CaixaBank  Sabadell  Bankinter
20  Ratio de Eficiencia  41.8       44.2       40.9      50.2       34.9