In [1]:
import yfinance as yf
import pandas as pd

In [3]:
dict_ibex35 = {'BBVA':'BBVA.MC','Santander':'SAN.MC','Sabadell':'SAB.MC','CaixaBank':'CABK.MC','Bankinter':'BKT.MC'}
df = pd.DataFrame()
for k,v in dict_ibex35.items():
    comp = yf.Ticker(v)
    hist = comp.history(period='1d')
    hist.reset_index(inplace=True)
    hist['Bank'] = k
    df = pd.concat([df, hist], ignore_index=True, sort=False)
    
df.drop(columns=['Date','Dividends','Stock Splits'], inplace=True)
cols = df.columns
df = df[['Bank']+cols[0:4].to_list()]

In [4]:
df.style.set_table_styles(
   [{
       'selector': 'th',
       'props': [('background-color', '#add8e6')]
   }])

In [2]:
comp = yf.Ticker('BBVA.MC')

In [20]:
((comp.dividends[-1]+comp.dividends[-2])/8.47)*100

5.548996458087366

In [5]:
comp.info['dividendRate']/comp.history(period='1d')['Close'][0]

0.05558183322677429

In [43]:
cols[0:4].to_list()

['Open', 'High', 'Low', 'Close']

In [18]:
comp = yf.Ticker('BBVA.MC')
hist = comp.history(period='1d')
hist.reset_index()
hist['Bank'] = '

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2023-11-22 00:00:00+01:00,8.3,8.386,8.298,8.372,11327942,0.0,0.0

In [15]:
comp = yf.Ticker('BBVA.MC')
hist = comp.history(period='5d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-11-16 00:00:00+01:00,8.222,8.260,8.166,8.168,10857034,0.0,0.0
2023-11-17 00:00:00+01:00,8.200,8.302,8.192,8.284,24591636,0.0,0.0
2023-11-20 00:00:00+01:00,8.280,8.332,8.270,8.286,12598889,0.0,0.0
2023-11-21 00:00:00+01:00,8.260,8.336,8.230,8.296,10608500,0.0,0.0
2023-11-22 00:00:00+01:00,8.300,8.386,8.298,8.372,11327942,0.0,0.0

In [17]:
comp = yf.Ticker('BBVA.MC')
hist = comp.history(period='1mo')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-23 00:00:00+02:00,7.522,7.544,7.430,7.522,9429359,0.0,0.0
2023-10-24 00:00:00+02:00,7.522,7.528,7.360,7.392,19719702,0.0,0.0
2023-10-25 00:00:00+02:00,7.370,7.470,7.322,7.430,16909629,0.0,0.0
2023-10-26 00:00:00+02:00,7.378,7.474,7.306,7.462,15551700,0.0,0.0
2023-10-27 00:00:00+02:00,7.516,7.624,7.414,7.442,11428201,0.0,0.0
2023-10-30 00:00:00+01:00,7.466,7.536,7.406,7.504,11384617,0.0,0.0
2023-10-31 00:00:00+01:00,7.094,7.516,7.050,7.422,18349423,0.0,0.0
2023-11-01 00:00:00+01:00,7.478,7.648,7.426,7.590,11478186,0.0,0.0
2023-11-02 00:00:00+01:00,7.622,7.666,7.550,7.636,11454498,0.0,0.0
2023-11-03 00:00:00+01:00,7.684,7.746,7.624,7.734,13747545,0.0,0.0
2023-11-06 00:00:00+01:00,7.708,7.766,7.652,7.718,10685482,0.0,0.0
2023-11-07 00:00:00+01:00,7.688,7.786,7.660,7.724,8733330,0.0,0.0
2023-11-08 00:00:00+01:00,7.666,7.862,7.662,7.832,17550499,0.0,0.0
2023-11-09 00:00:00+01:00,7.840,7.978,7.814,7.972,13497102,0.0,0.0
2023-11-10 00:00:00+01:00,7.900,7.990,7.900,7.900,10272079,0.0,0.0
2023-11-13 00:00:00+01:00,7.898,8.024,7.898,8.004,12742353,0.0,0.0
2023-11-14 00:00:00+01:00,8.000,8.240,7.996,8.218,18856496,0.0,0.0
2023-11-15 00:00:00+01:00,8.200,8.300,8.172,8.222,11848007,0.0,0.0
2023-11-16 00:00:00+01:00,8.222,8.260,8.166,8.168,10857034,0.0,0.0
2023-11-17 00:00:00+01:00,8.200,8.302,8.192,8.284,24591636,0.0,0.0
2023-11-20 00:00:00+01:00,8.280,8.332,8.270,8.286,12598889,0.0,0.0
2023-11-21 00:00:00+01:00,8.260,8.336,8.230,8.296,10608500,0.0,0.0
2023-11-22 00:00:00+01:00,8.300,8.386,8.298,8.372,11327942,0.0,0.0